$color1: #fc766aff;
$color2: #b0b8b4ff;
$color3: #184a45ff;
html {
  height: auto !important;
}
.all {
  width: 100%;
  height: 100%;
}
.title {
  color: $color3;
}
.logoutButton {
  background-color: $color3 !important;
  color: white !important;
  &:hover {
    transform: scale(1.1);
  }
}
.infoEntrance {
  background-color: $color1;
  padding: 0 !important;
  min-width: 340px !important;

  @media only screen and (max-width: 1000px) {
    height: auto;
    margin: 0;
  }
}
.logout-button {
  margin-bottom: 30px;
}
.user-info {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.user-form {
  height: 600px;
  width: 80%;
  margin: 0 auto;
  @media only screen and (max-width: 1000px) {
    margin: 20px auto;
  }
}
.form-group p {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.saveButton {
  background-color: $color2 !important;
}
.another {
  overflow: auto;
}
.cardContainer {
  @media only screen and (max-width: 1000px) {
    display: flex;
    justify-content: center;
  }
}
.userinfoRow {
  margin: 0 !important;

}
.another {
  height: 100vh;
  overflow: auto;
}
