.logout-button {
  margin-bottom: 30px;
}
.user-info {
  font-size: 2rem;
  font-weight: bold;
}

.user-form {
  height: 600px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid rgb(58, 50, 50);
}
.form-group p {
  font-size: 20px;
  font-weight: bold;
}
